@model ProjectsNhom.Models.Department

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office.Location)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                @foreach (var item in Model.Instructors)
                {
                    <td>@Html.DisplayFor(modelItem => item.InstructorName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
