@model PagedList.IPagedList<Practical.Models.Contact>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact List</h2>
<div class="col-lg-12 col-md-12" style="margin-bottom:50px;">
    <div class="row">
        @using (Html.BeginForm("Index", "Contacts", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline mr-auto ml-md-6 my-2 my-md-0 mw-100 navbar-search col-lg-4 col-md-4" }))
        {


            <div class="input-group">
                @Html.TextBox("Search", ViewBag.CurrentFilter as string, new { @class = "form-control bg-light border-1 small" })
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>

            </div>


        }
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-6 col-md-6">
            <a href="/Contacts/Create" style="float:right" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Contact Name", "Index", new
            {
                sortOrder = ViewBag.NameSortParm,

           currentFilter = ViewBag.CurrentFilter
       });
        </th>
        <th>
            ContactNumber
        </th>
        <th>
            GroupName
        </th>
        <th>
            Hiredate
        </th>
        <th>
            Birthday
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hiredate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="col-sm-12 col-md-10">
        Current @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount Page
    </div>
    <div class="col-sm-12 col-md-2">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, @class = "btn btn-sm btn-primary" }))

    </div>
</div>
