@model Matrimory.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paydate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.ServiceType)
        </dd>
      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
